.cart-quantity-holder{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.col-cart-quantity-auto{
    width: auto;
}
.col-cart-quantity-input{
    flex: 1;
    max-width: 100%;
    background-color: #e0e0e0;
    border-radius: 4px !important;
    overflow: hidden;
    
}
.cart-quantity-text-holder{
    min-height: 30px !important;
    border-top: none !important;
    border-bottom: none !important;
    --highlight-color-focused: #222 !important;
    opacity: 1 !important;
    font-weight: bold;
    --background: #eee !important;
}
.col-cart-quantity-btn{
    --border-radius: 4px;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 1.1em;
    --padding-end: 1.1em;
    margin-inline: 2px;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 30px;
}
